In [1]:
import pandas as pd 
import matplotlib.pyplot as plt 
import numpy as np 
import tensorflow as tf 
# import sklearn as sk

2023-06-05 12:12:27.166158: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-06-05 12:12:27.716130: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-06-05 12:12:34.742217: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
from sklearn.linear_model import LinearRegression

In [4]:
df = pd.read_csv("./auto-mpg.csv")

In [5]:
df.head()

    mpg  cylinders  displacement  horsepower  weight  acceleration  model-year
0  18.0          8         307.0       130.0    3504          12.0          70
1  15.0          8         350.0       165.0    3693          11.5          70
2  18.0          8         318.0       150.0    3436          11.0          70
3  16.0          8         304.0       150.0    3433          12.0          70
4  17.0          8         302.0       140.0    3449          10.5          70

In [6]:
df = df.replace('?', np.nan)

In [7]:
df = df.dropna()

In [8]:
X = df.drop('mpg', axis=1)
X

     cylinders  displacement  horsepower  weight  acceleration  model-year
0            8         307.0       130.0    3504          12.0          70
1            8         350.0       165.0    3693          11.5          70
2            8         318.0       150.0    3436          11.0          70
3            8         304.0       150.0    3433          12.0          70
4            8         302.0       140.0    3449          10.5          70
..         ...           ...         ...     ...           ...         ...
393          4         140.0        86.0    2790          15.6          82
394          4          97.0        52.0    2130          24.6          82
395          4         135.0        84.0    2295          11.6          82
396          4         120.0        79.0    2625          18.6          82
397          4         119.0        82.0    2720          19.4          82

[396 rows x 6 columns]

In [9]:
y = df[['mpg']]
y

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
..    ...
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[396 rows x 1 columns]

In [10]:
from sklearn.model_selection import train_test_split

# random_state - fiksiram random stanje kako bih mogli da 
# debagujemo
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.25)

In [11]:
X_train.shape

(297, 6)

In [12]:
X_test.shape

(99, 6)

In [13]:
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression()

In [14]:
reg.coef_

array([[-2.38130156e-01,  1.68390338e-03, -2.50190582e-04,
        -6.62156099e-03,  1.02736698e-02,  7.62523115e-01]])

In [15]:
reg.intercept_

array([-13.82416911])

In [16]:
# merim srednje kvadratnu gresku na trening i test skupu 
# ako su one slicne to je naznaka da je na traning i test skupu slicna greska
# to je okej, znaci da se nisam preprilagodio podacima iz trening skupa

from sklearn.metrics import mean_squared_error

In [18]:
mse_train = mean_squared_error(y_train, reg.predict(X_train))
mse_test = mean_squared_error(y_test, reg.predict(X_test))

In [19]:
print(mse_train, mse_test)

12.04121219273428 11.054880997716914

In [21]:
# metrika koja se cesto koristi je koren srednjekvadratne greske

rmse_train = np.sqrt(mse_train)
rmse_test = np.sqrt(mse_test)

In [22]:
rmse_train, rmse_test

(3.4700449842522616, 3.32488811807509)

In [ ]:
# koeficijent determinacije